h4 {
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

h5 span {
  display: block;
  height: 2px;
  margin: 12px 0px;
}

.stage-heading {
  font-weight: 800;
  letter-spacing: 2px;
}

button {
  border: none;
  margin-top: 20px;
}

.card-title {
  width: 95%;
}

.card-body {

  .icon-conatiner,
  .card-title {
    display: inline-block;
  }
}

button span {
  padding-left: 12px;
}

.my-modal {
  color: red;
}

.container {
  background-color: #e7f3f3;
  margin: 12px auto 12px auto;
  min-height: 90vh;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px #c8c8c8;
  border-radius: 12px;
}

.main-wrapper {
  margin-top: 4rem;
}

hr {
  margin-bottom: 4px;
}

.task-actions {
  min-height: 50px;
  border-right: 4px #15b9b9 solid;
  border-left: 4px #15b9b9 solid;
  border-bottom: 4px #15b9b9 solid;
  border-radius: 0 0 30px 30px;
  margin: 0 16px;
  padding-left: 16px;
  background-color: azure;
}



.stage {
  .task {
    margin-top: 8px;
    border-radius: 5px;

    p {
      font-size: 12px;
    }
  }
}

.stage-1 {
  border-radius: 4px;

  .task {
    border: 1px solid red;
  }

  .task.selected {
    border: 2px solid red;
  }
}

.stage-2 {

  .task {
    border: 1px solid rgb(0, 0, 0);
  }

  .task.selected {
    border: 2px solid rgb(0, 0, 0);
  }
}

.stage-3 {

  .task {
    border: 1px solid rgb(29, 166, 207);
  }

  .task.selected {
    border: 2px solid rgb(29, 166, 207);
  }
}

.stage-4 {

  .task {
    border: 1px solid rgb(43, 104, 3);
  }

  .task.selected {
    border: 2px solid rgb(43, 104, 3);
  }
}