<div class="container" *ngIf="category">
    <h5>{{category.name}} Board </h5>
    <hr />
    <div class="row main-wrapper">
        <div class="col-lg-3" *ngFor="let stage of stages">
            <h6>{{stage.heading}}
                <span [ngStyle]="{'background-color': stage.bg}"></span>
            </h6>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <button type="button" (click)="openModal()">
                        <fa-icon class="faPlus" [icon]="faPlus"></fa-icon><span>Add Task</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>