h5 {

  padding-top: 40px;
  padding-bottom: 40px;
}

h6 span {
  display: block;
  height: 2px;
  margin: 12px 0px;
}

button {
  border: none;
  color: green;
  background-color: #ffffff;
}

.faPlus {
  color: green;
}

button span {
  padding-left: 12px;
}

.my-modal {
  color: red;
}
