<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{task?.name ? 'Update':'Add'}} {{task?.name ? '' : category.name}}
        Task</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')" aria-label="Close"></button>
</div>

<form [formGroup]="taskForm" (ngSubmit)="onTaskSubmit()">
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <label class="center-block">Task Name:
                    <input class="form-control" formControlName="name">
                </label>
                <div *ngIf="taskForm.controls['name'].invalid && 
                    (taskForm.controls['name'].dirty || taskForm.controls['name'].touched)" class="alert lert-danger">
                    <span *ngIf="taskForm.controls['name'].errors?.['required']">
                        Task name is required...
                    </span>
                </div>
            </div>

            <div class="row">
                <label class="center-block">Description:
                    <textarea class="form-control" formControlName="description" rows="3"></textarea>
                </label>
            </div>

            <div *ngIf="!task" class="row">
                <label class="center-block">Stage:
                    <div class="btn-group" role="group" aria-label="Radio Buttons with Bootstrap 5">
                        <input type="radio" formControlName="taskStage" [value]="1" class="btn-check" id="backlog"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="backlog">Backlog</label>

                        <input type="radio" formControlName="taskStage" [value]="2" class="btn-check" id="to-do"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="to-do">To Do</label>

                        <input type="radio" formControlName="taskStage" [value]="3" class="btn-check" id="in-progress"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="in-progress">In Progress</label>

                        <input type="radio" formControlName="taskStage" [value]="4" class="btn-check" id="complete"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="complete">Complete</label>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!taskForm.valid || !taskForm.dirty" class="btn btn-outline-dark">Save</button>
    </div>
</form>