<nav class="navbar header">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <span class="nav-item">
                Work-Board
            </span>
        </ul>
        <div class="d-flex loginWrap">
            <button class="user">
                <fa-icon class="icon" [icon]="faUnlockKeyhole"></fa-icon>
                Login
            </button>
            <span class="line"></span>
            <button class="user">
                <fa-icon class="icon" [icon]="faUser"></fa-icon>
                Register
            </button>
            <app-login></app-login>
        </div>
    </div>
</nav>