<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Login</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
  <div class="modal-body">
    <div class="mb-3">
      <label for="E-mail">E-mail</label>
      <div class="input-group">
        <input id="email" formControlName="email" class="form-control" placeholder="Enter your E-mail" name="email" />
      </div>
      <div
        *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        Please provide a valid email address.
      </div>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <div class="input-group">
        <input id="password" formControlName="password" class="form-control" placeholder="Enter your password"
          name="password" />
      </div>
      <div
        *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        Please provide a password.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">
      Login
    </button>
  </div>
</form>