<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="E-mail">E-mail</label>
            <div class="input-group">
                <input id="E-mail" class="form-control" placeholder="Enter your E-mail" name="E-mail">
            </div>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <div class="input-group">
                <input id="password" class="form-control" placeholder="Enter your password" name="password">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Save</button>
</div>